<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--Facebook share metatags-->
	<meta property="fb:app_id" content="1860370324230547" />
	<meta property="og:url" content="http://tsar-football.herokuapp.com/news/{{_id}}/#/news/details/{{_id}}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{title}}" />
	<meta property="og:description" content="{{description}}" />
	<meta property="og:image" content="{{imageUrl}}" />
	<!--Facebook metatags end-->
	<title>TsarFootball</title>
</head>

</html>