<div class="container-fluid container-landing-photo">
    <img src="/public/assets/landing-page.jpg" class="img-responsive" alt="">
</div>

<div class="container container-landing-page">
    <h2 class="text-center landing-page-title">The latest info on your favourite Premier League team</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default panel-section">
                <img src="/public/assets/news-section.jpg" class="img-responsive" alt="news">
                <div class="panel-body">
                    <h3 class="text-center">News, results, transfer rumors and more</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-section">
                <img src="/public/assets/analyses-section.jpg" class="img-responsive" alt="news">
                <div class="panel-body">
                    <h3 class="text-center">Analyses and game predictions</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-section">
                <img src="/public/assets/forum-section.jpg" class="img-responsive" alt="news">
                <div class="panel-body">
                    <h3 class="text-center">Fan zone forum - join in the discussions</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="landing-page-subtitle">
            <h2>Latest</h2>
            <hr class="hr-smaller-margin" />
        </div>
        <div class="col-md-8">
            <div class="row panel panel-default entry-related">
                <div class="col-md-4" class="home-related-entry">
                    <img src="/public/assets/forum-media.jpg" class="img-responsive" alt="title">
                </div>
                <div class="col-md-8">
                    <h3>Some awesome title for awesome shit.</h3>
                    <p class="italic">Created on...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <table class="table table-hover table-responsive standings">
                <thead>
                    <th></th>
                    <th></th>
                    <th>Team</th>
                    <th>GP</th>
                    <th>GD</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th class="text-center">Points</th>
                </thead>
                <tbody>
                    {{#each standing}}
                    <tr>
                        <td class="no-padding-right">{{position}}.</td>
                        <td class="text-center no-padding-sides"><img src="{{crestURI}}" class="standings-team-badge" alt="{{teamName}}"></td>
                        <td class="no-padding-right ellipsis standings-team-cell">{{teamName}}</td>
                        <td>{{playedGames}}</td>
                        <td>{{goalDifference}}</td>
                        <td>{{wins}}</td>
                        <td>{{draws}}</td>
                        <td>{{losses}}</td>
                        <td class="text-center bold">{{points}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>