<div class="container">
    <div class="row news-container">
        <header class="row news-header">
            <h1 class="bold news-main-heading">{{article.title}}</h1>
            <hr class="no-margin-bottom" />
            <div class="socials-container">
                <div class="col-md-2 no-padding news-author-field">
                    <p class="no-margin-bottom">By <span class="bold"><a class="black-text" href="#!/profile/{{article.author}}">{{article.author}}</a></span></p>
                    <p class="italic small no-margin-bottom">
                        <time>{{#date article.createdOn}}{{/date}}</time>
                    </p>
                </div>
                <a id="btn-facebook-share" href="https://www.facebook.com/sharer/sharer.php?app_id=1860370324230547&kid_directed_site=0&sdk=joey&u=https%3A%2F%2Ftsar-football.herokuapp.com%2Fnews%2F{{article._id}}%2F%23!%2Fnews%2Fdetails%2F{{article._id}}&display=popup&ref=plugin&src=share_button">
                    <div class="col-md-3 no-padding field-facebook text-center">
                        <img class="icon-social" src="/public/assets/facebook-icon.png" alt="facebook">
                        <span class="bold news-field-text">&nbsp;&nbsp;Share to Facebook</span>
                    </div>
                </a>
                <div id="btn-comments-scroll" class="col-md-3 no-padding field-comments text-center">
                    <img class="icon-social" src="/public/assets/comments-icon.png" alt="comments">
                    <span id="news-comments-count" class="bold news-field-text">&nbsp;&nbsp;{{#commentsCount article.comments}}{{/commentsCount}}</span>
                </div>
                <div class="col-md-4 text-right tags-header">
                    {{#each article.tags}}
                    <span class="label label-success">{{this}}</span> {{/each}}
                </div>
            </div>
            <hr class="no-margin-top" />
        </header>
        {{!--left side--}}
        <article class="col-md-8">
            <img src="{{article.imageUrl}}" class="img-news-details" alt="{{article.title}}">
            <hr />
            <h4 class="bold news-description">{{article.description}}</h4>
            <p class="news-details-content">{{article.content}}</p>
            <div id="news-comment-box" class="comment-box">
                <h3 class="aside-title">Comments</h3>
                {{#each article.comments}}
                <div class="row comment" id="{{_id}}">
                    <div class="col-md-2 comment-avatar">
                        <img src="{{author.userAvatar}}" alt="{{author.username}}" class="img-responsive img-circle">
                    </div>
                    <div class="col-md-10 comment-content">
                        <p class="inline-block"><span class="bold"><a class="black-text" href="#!/profile/{{author.username}}">{{author.username}}</a></span> <span class="italic small">{{#date createdOn}}{{/date}}</span></p>
                        {{#isAuthorized ../user author.userId}}
                        <p class="btn-news-delete-comment inline-block pull-right small btn-comment-delete" onclick="return confirm('Are you sure you want to delete this comment?')">
                            Delete
                        </p>
                        {{/isAuthorized}}
                        <p>{{content}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
            {{#if user}}
            <div id="new-comment-box" class="row new-comment-box">
                <div class="col-md-2 comment-avatar">
                    <img src="{{user.profilePicture}}" alt="{{user.username}}" class="img-responsive img-circle">
                </div>
                <div class="col-md-10 comment-content">
                    <p class="inline-block"><span class="bold">{{user.username}}</span></p>
                    <div id="form-news-new-comment">
                        <textarea id="news-new-comment-content" cols="30" rows="2" placeholder="Type your comment here..." class="form-control" />
                    </div>
                    <div class="text-right">
                        <button class="btn btn-success btn-xs btn-news-comment hidden" id="btn-news-comment">Submit</button>
                    </div>
                </div>
            </div>
            {{else}} {{#unless article.comments.length}}
            <h4 class="text-center bold">No comments yet! Sign in and be the first to comment...</h4>
            {{/unless}} {{/if}}
        </article>

        {{!--right side--}}
        <aside class="col-md-4">
            {{#if related}}
            <h4 class="aside-title">Related News</h4>
            {{/if}} {{#each related}}
            <a href="#!/news/details/{{_id}}">
                <div class="row aside-tab">
                    <div class="col-md-4 aside-photo">
                        <img src="{{imageUrl}}" class="img-responsive" alt="{{title}}">
                    </div>
                    <div class="col-md-8 aside-article">
                        {{title}}
                    </div>
                </div>
            </a>
            {{/each}}
            <h4 class="aside-title">Latest News</h4>
            {{#each latest}}
            <a href="#!/news/details/{{_id}}">
                <div class="row aside-tab">
                    <div class="col-md-4 aside-photo">
                        <img src="{{imageUrl}}" class="img-responsive" alt="{{title}}">
                    </div>
                    <div class="col-md-8 aside-article">
                        {{title}}
                    </div>
                </div>
            </a>
            {{/each}} {{#if user.admin}}
            <div class="text-right">
                <h4 class="aside-title">Admin options</h4>
                <a href="#!/news/edit/{{article._id}}" class="btn btn-danger btn-black">Edit Article</a>
                <a href="#!/news/delete/{{article._id}}" id="btn-news-delete" onclick="return confirm('Do you really want to delete this article?')"
                    class="btn btn-danger btn-black">Delete Article</a>
            </div>
            {{/if}}
        </aside>
    </div>
</div>