<div class="container-fluid banner-news">
    <img src="/public/assets/banner-news.png" class="img-responsive" alt="banner">
</div>
<div class="container">
    <div class="row hidden">
        <div class="col-md-8">
            <h1>Latest News</h1>
        </div>
        <div class="col-md-4 text-right">
            <a href="#/news/create" class="btn btn-success btn-create">Write a New Article</a>
        </div>
    </div>
    <hr class="no-margin-top" />
    <div class="row">
        {{#each newsEntries}}
        <a href="#/news/details/{{_id}}">
            <div class="panel news-entry">
                <div class="col-md-3 news-entry-image" style="background-image: url('{{imageUrl}}');">
                </div>
                <div class="col-md-9 news-entry-info">
                    <h2 class="news-entry-title">{{title}}</h2>
                    <p class="news-entry-date">By <span class="bold">{{author}}</span></p>
                    <p class="news-entry-date"><span class="small italic">{{#date createdOn}}{{/date}}</span></p>
                    <p class="news-entry-content">{{description}}</p>
                </div>
            </div>
        </a>
        {{/each}}
        <div class="pager">
            <ul class="pagination">
                {{#paginate pagination type="previous"}}
                <li {{#if disabled}}class="disabled-link" {{/if}}><a href="#/news/{{n}}">«</a></li>
                {{/paginate}} {{#paginate pagination type="middle" limit="5"}}
                <li {{#if active}}class="active disabled-link" {{/if}}><a href="#/news/{{n}}">{{n}}</a></li>
                {{/paginate}} {{#paginate pagination type="next"}}
                <li {{#if disabled}}class="disabled-link" {{/if}}><a href="#/news/{{n}}">»</a></li>
                {{/paginate}}
            </ul>
        </div>
    </div>
</div>