<div class="container">
    <div class="row">
        <h1>{{category}}</h1>
        <hr />
    </div>
    {{#each threads}}
    <a class="forum-link" href="#!/forum/details/{{_id}}">
        <div class="forum-section panel panel-default row">
            <div class="col-md-2 forum-main-image" style="background-image: url('{{imageUrl}}');">
            </div>
            <div class="col-md-5">
                <h3 class="threads-list-title">{{title}}</h3>
                <p class="small italic list-threads-content">{{content}}</p>
            </div>
            <div class="col-md-3 forum-stats forum-last-post italic">
                <p>Thread created on {{#date createdOn}}{{/date}}</p>
                {{#if posts.length}}
                <p class="no-margin-bottom">Last post on: {{#date lastPostCreatedOn}}{{/date}} by {{lastPost.author}}</p>
                {{else}}
                <p class="no-margin-bottom">No posts yet...</p>
                {{/if}}
            </div>
            <div class="col-md-2 forum-stats italic">
                <p class="text-center">{{views}} Views</p>
                <p class="text-center">{{posts.length}} Posts</p>
            </div>
        </div>
    </a>
    {{/each}}
    <div class="pager">
        <ul class="pagination">
            {{#paginate pagination type="previous"}}
            <li {{#if disabled}}class="disabled-link" {{/if}}><a href="#!/forum/{{../category}}/{{n}}">«</a></li>
            {{/paginate}} {{#paginate pagination type="middle" limit="5"}}
            <li {{#if active}}class="active disabled-link" {{/if}}><a href="#!/forum/{{../category}}/{{n}}">{{n}}</a></li>
            {{/paginate}} {{#paginate pagination type="next"}}
            <li {{#if disabled}}class="disabled-link" {{/if}}><a href="#!/forum/{{../category}}/{{n}}">»</a></li>
            {{/paginate}}
        </ul>
    </div>
</div>