<div class="container-fluid banner">
    <img src="/public/assets/banner-forum.png" alt="forum-tsar-football" class="img-responsive">
</div>
<div class="container">
    {{#each this}}
    <a class="forum-link" href="#!/forum/{{linkName}}">
        <div class="forum-section panel panel-default row">
            <div class="col-md-2 forum-main-image" style="background-image: url('{{imageUrl}}');">
            </div>
            <div class="col-md-5">
                <h3>{{title}}</h3>
                <p class="small italic">{{description}}</p>
            </div>
            <div class="col-md-3 forum-stats forum-last-post italic">
                {{#if lastPost}}
                <p class="ellipsis">Last post in <b>{{lastPost.thread}}</b></p>
                <p class="ellipsis small no-margin-bottom">By <b>{{lastPost.author}}</b> on {{#date lastPost.createdOn}}{{/date}}</p>
                {{else}}
                <p>No opened threads as of yet...</p>
                <p class="no-margin-bottom">Start a discussion now!</p>
                {{/if}}
            </div>
            <div class="col-md-2 forum-stats italic">
                <p class="text-center">{{threads}} Threads</p>
                <p class="text-center">{{posts}} posts</p>
            </div>
        </div>
    </a>
    {{/each}}
</div>