<div id="{{_id}}" class="forum-section forum-post panel panel-default row">
    <div class="col-md-1 text-center post-avatar">
        <img src="{{author.userAvatar}}" class="img-responsive img-circle" alt="{{author.username}}">
    </div>
    <div class="col-md-11 post-content">
        <p class="thread-post-content pre-wrap">{{content}}</p>
        <hr class="post-picture-hr" />
        <div class="post-options row">
            <div class="col-md-10 no-padding">
                <span class="bold">{{author.username}}</span>
                <span class="small italic">Posted on: {{#date createdOn}}{{/date}}</span> {{#if updatedOn}}
                <span class="small italic"> | Last updated on: {{#date updatedOn}}{{/date}}</span> {{/if}}
                <span>&nbsp;&nbsp;</span>
                <a class="small grey-text" href="">Edit</a>
                <span>&nbsp;</span>
                <a class="small grey-text" href="">Delete</a>
            </div>
            <div class="col-md-2 text-right no-padding">
                <div class="inline-block like-icons-post">
                    <span class="like-icon-post"><span class="glyphicon glyphicon-thumbs-up"></span><span class="likes-count">&nbsp;&nbsp;{{likes.length}}&nbsp;&nbsp;</span></span>
                    <span class="like-icon-post"><span class="glyphicon glyphicon-thumbs-down"></span><span class="dislikes-count">&nbsp;&nbsp;{{dislikes.length}}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>