<div id="{{_id}}" class="forum-section forum-post panel panel-default row">
    <div class="col-md-1 text-center post-avatar">
        <img src="{{author.userAvatar}}" class="img-responsive img-circle" alt="{{author.username}}">
    </div>
    <div class="col-md-11 post-content">
        <div class="post-preview-state">
            <p class="thread-post-content pre-wrap">{{content}}</p>
            <hr class="post-picture-hr" />
            <div class="post-options row">
                <div class="col-md-10 no-padding">
                    <span class="bold">{{author.username}}</span>
                    <span class="small italic">Posted on: {{#date createdOn}}{{/date}}</span> {{#if updatedOn}}
                    <span class="small italic"> | Last updated on: {{#date updatedOn}}{{/date}}</span> {{/if}}
                    <span class="btn-edit-post small grey-text">Edit</span>
                    <span onclick="return confirm('Are you sure you want to delete this post?')" class="btn-delete-post small grey-text">Delete</span>
                </div>
                <div class="col-md-2 text-right no-padding">
                    <div class="inline-block like-icons-post">
                        <span class="like-icon-post btn-like-post"><span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="likes-count">{{likes.length}}</span>
                        </span>
                        <span class="like-icon-post btn-dislike-post"><span class="glyphicon glyphicon-thumbs-down"></span>
                        <span class="dislikes-count">{{dislikes.length}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-edit-state hidden">
            <div class="form-edit-post">
                <textarea name="edit-post-input" placeholder="Type your post content here..." cols="30" rows="3" class="form-control edit-post-input">{{content}}</textarea>
            </div>
            <div class="text-right post-options">
                <button class="btn btn-xs btn-success btn-submit-edit-post">Submit</button>
                <button class="btn btn-xs btn-danger btn-black btn-cancel-edit-post">Cancel</button>
            </div>
        </div>
    </div>
</div>